/Lab1/build/
/Lab2/build/
/Program1/build/
*.class
/Lab1/src/*Test.java
/Lab1/src/*Tests.java
/Program1/src/*Test.java
/Program1/src/*Tests.java
/Lab00/src/*Tests.java
/Lab2/src/*Tests.java
/Program1/src/Runner.java
/Lab3/build/
/Lab4/build/